html {
  background-color: #D3D3D3;
}

head {
  position: relative;
}

 body {
  margin: 0;
  height: 100%;
}

.body_part {
  display: none;
}

.top_page {
  background-color: #D3D3D3;
  position: relative;
  height: 100%;
  width: 100%;
}

.icons {
  position: fixed;
  background-color: white;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
}

.image1 {
  height: 100%;
  width: 100%;
}

.copyright {
  margin-top: 10%;
  bottom: 0;
  color: black;
  text-align: center;
  position: static;
  font-size: 80%;
}

.fa {
  color: black;
  padding: 1.5%;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  color: black;
  box-shadow: 0 5px 15px #8B4513;
}

.songs_table {
  position: relative;
  text-align: center;
}

.songs_table {
  position: relative;
  opacity: 0;
}

.song2 {
  display: none;
}


.next_prev {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.next_prev:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}

.button1, .button2, .button3 {
  border-style: ridge;
  border-width: medium;
  border-color: #9F8170;
  border-radius: 50%;
  background-color: #EFDECD;
  padding: 0.3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 1%;
  margin-right: 0.5%;
  opacity: 0.7;
}

.button1:hover, .button2:hover, .button3:hover {
  opacity: 1;
}
